{% extends 'core/logged_in_base.html.twig' %}

{% block htmlPageTitle %}{{ htmlPageTitle|trans({}, 'users') }}{% endblock %}

{% block headerStylesheets %}{{ importmap('usersStyles') }}{% endblock %}

{% block pageTitle %}{{ pageTitle|trans({}, 'users') }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        {% for menuItem in breadcrumb %}
            <li class="breadcrumb-item{% if menuItem.isActive %} active{% endif %}">
                {% if menuItem.isActive == false %}<a href="{{ path(menuItem.path) }}">{% endif %}
                    {{ menuItem.title|trans({}, 'breadcrumb') }}
                    {% if menuItem.isActive == false %}</a>{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block body %}
    <!-- Main content -->
    <section class="content">

        <!-- Settings card -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ formCreate.title|trans({}, 'users') }}</h3>

                <div class="card-tools">
                    <button
                            type="button"
                            class="btn btn-tool"
                            title="{{ 'page.buttons.users_list'|trans({}, 'users') }}"
                            onclick="location.href = '{{ path('core_admin_user_list') }}'"
                    >
                        <i class="fas fa-list"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->

            <!-- User create form start -->
            {{ form_start(formCreate.data) }}
            <div class="card-body">
                <div class="form-group">
                    {{ form_label(formCreate.data.email) }}
                    {{ form_widget(formCreate.data.email) }}
                    <span class="error invalid-feedback" style="display:block">{{ form_errors(formCreate.data.email) }}</span>
                </div>
                <div class="form-group">
                    {{ form_label(formCreate.data.roles) }}
                    {{ form_widget(formCreate.data.roles) }}
                    <span class="error invalid-feedback" style="display:block">{{ form_errors(formCreate.data.roles) }}</span>
                </div>
                <div class="form-group">
                    <label>{{ form_label(formCreate.data.password) }}</label>
                    <div class="input-group mb-3">
                        {{ form_widget(formCreate.data.password) }}
                        <div class="input-group-append">
                            <button class="btn btn-default" type="button" id="togglePassword1">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </div> <!-- /.input-group -->
                    <span class="error invalid-feedback" style="display:block">{{ form_errors(formCreate.data.password) }}</span>
                </div>
                <div class="form-group">
                    <label>{{ form_label(formCreate.data.confirmPassword) }}</label>
                    <div class="input-group mb-3">
                        {{ form_widget(formCreate.data.confirmPassword) }}
                        <div class="input-group-append">
                            <button class="btn btn-default" type="button" id="togglePassword2">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </div> <!-- /.input-group -->
                    <span class="error invalid-feedback" style="display:block">{{ form_errors(formCreate.data.confirmPassword) }}</span>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">{{ formCreate.button|trans({}, 'users') }}</button>
            </div>
            <!-- /.card-footer-->
            {{ form_end(formCreate.data) }}
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock %}

{% block bodyJavascripts %}
    <script>
        function showHidePassword(htmlId)
        {
            let passwordInput = $('#'+htmlId);
            if (passwordInput.attr('type') === 'password') {
                passwordInput.attr('type', 'text');
                $(this).find('i').removeClass('fa-eye').addClass('fa-eye-slash');
            } else {
                passwordInput.attr('type', 'password');
                $(this).find('i').removeClass('fa-eye-slash').addClass('fa-eye');
            }
        }

        $(document).ready(function() {
            $('#togglePassword1').click(function() {
                showHidePassword('user_create_form_password');
            });

            $('#togglePassword2').click(function() {
                showHidePassword('user_create_form_confirmPassword');
            });
        });
    </script>
{% endblock %}
