{% extends 'core/logged_in_base.html.twig' %}

{% block htmlPageTitle %}{{ htmlPageTitle|trans({}, 'users') }}{% endblock %}

{% block headerStylesheets %}{{ importmap('usersStyles') }}{% endblock %}

{% block pageTitle %}{{ pageTitle|trans({}, 'users') }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        {% for menuItem in breadcrumb %}
            <li class="breadcrumb-item{% if menuItem.isActive %} active{% endif %}">
                {% if menuItem.isActive == false %}<a href="{{ path(menuItem.path) }}">{% endif %}
                    {{ menuItem.title|trans({}, 'breadcrumb') }}
                    {% if menuItem.isActive == false %}</a>{% endif %}
            </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block body %}
    <!-- Main content -->
    <section class="content">

        <!-- Settings card -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ formSettings.title|trans({}, 'users') }}</h3>

                <div class="card-tools">
                    <button
                            type="button"
                            class="btn btn-tool"
                            title="{{ 'page.buttons.users_list'|trans({}, 'users') }}"
                            onclick="location.href = '{{ path('core_admin_user_list') }}'"
                    >
                        <i class="fas fa-list"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->

            <!-- Settings form start -->
            {{ form_start(formSettings.data) }}
            <div class="card-body">
                <div class="form-group">
                    {{ form_label(formSettings.data.email) }}
                    {{ form_widget(formSettings.data.email) }}
                    <span class="error invalid-feedback" style="display:block">{{ form_errors(formSettings.data.email) }}</span>
                </div>
                <div class="form-group">
                    {{ form_label(formSettings.data.roles) }}
                    {{ form_widget(formSettings.data.roles) }}
                    <span class="error invalid-feedback" style="display:block">{{ form_errors(formSettings.data.roles) }}</span>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">{{ formSettings.button|trans({}, 'users') }}</button>
            </div>
            <!-- /.card-footer-->
            {{ form_end(formSettings.data) }}
        </div>
        <!-- /.card -->

        <!-- Password card -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ formPassword.title|trans({}, 'users') }}</h3>

                <div class="card-tools">
                    <button
                            type="button"
                            class="btn btn-tool"
                            title="{{ 'page.buttons.users_list'|trans({}, 'users') }}"
                            onclick="location.href = '{{ path('core_admin_user_list') }}'"
                    >
                        <i class="fas fa-list"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->

            <!-- Password form start -->
            {{ form_start(formPassword.data) }}
                <div class="card-body">
                    <div class="form-group">
                        <label>{{ form_label(formPassword.data.password) }}</label>
                        {{ form_widget(formPassword.data.password) }}
                        <span class="error invalid-feedback" style="display:block">{{ form_errors(formPassword.data.password) }}</span>
                    </div>
                    <div class="form-group">
                        <label>{{ form_label(formPassword.data.confirmPassword) }}</label>
                        {{ form_widget(formPassword.data.confirmPassword) }}
                        <span class="error invalid-feedback" style="display:block">{{ form_errors(formPassword.data.confirmPassword) }}</span>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">{{ formPassword.button|trans({}, 'users') }}</button>
                </div>
                <!-- /.card-footer-->
            {{ form_end(formPassword.data) }}
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock %}

{% block bodyJavascripts %}
    <!-- DataTables  & Plugins -->
    <script src="{{ asset('core/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('core/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('core/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('core/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('core/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('core/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('core/plugins/jszip/jszip.min.js') }}"></script>
    <script src="{{ asset('core/plugins/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('core/plugins/pdfmake/vfs_fonts.js') }}"></script>
    <script src="{{ asset('core/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('core/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('core/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>

    <script>
        $(function () {
            $("#users-list").DataTable({
                "ajax": "{{ path('core_admin_user_datatable_list') }}",
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#users-list-wrapper .col-md-6:eq(0)');
        });
    </script>
{% endblock %}