{% extends 'core/base.html.twig' %}

{% block htmlPageTitle %}{{ "reset_password.reset.title"|trans }}{% endblock %}

{% block headerStylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    {{ importmap('login') }}
{% endblock %}

{% block htmlBodyProperties %}
    class="hold-transition login-page"
{% endblock %}

{% block body %}
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><img src="{{ asset('core/images/crm_full_logo.png') }}" alt="Logo"></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">{{ "reset_password.reset.sub_title"|trans }}</p>

                {{ form_start(resetForm) }}
                    {% for flash_error in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}
                    <div class="input-group mb-3">
                        {{ form_widget(resetForm.password) }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form_widget(resetForm.confirmPassword) }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">{{ "reset_password.form.button_change"|trans }}</button>
                        </div>
                        <!-- /.col -->
                    </div>
                {{ form_end(resetForm) }}

                <p class="mt-3 mb-1">
                    <a href="/{{ app.request.locale }}/login">{{ "reset_password.link.login"|trans }}</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
{% endblock %}

